@media (max-width: 1290px) {
  .price__inner {
    display: block;
  }
  .price__item {
    margin: 0px auto 120px;
  }
  .price__inner {
    padding-top: 0;
  }
  .price {
    padding-bottom: 50px;
  }
  .feedback__title {
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .feedback__items {
    flex-wrap: wrap;
  }
  .feedback__item {
    margin-top: 40px;
  }
  .map__card {
    left: 12%;
  }
}
@media (max-width: 1150px) {
  .map__card {
    left: 7%;
  }
  .header__content-descr {
    flex-direction: column;
    padding-top: 30px;
  }
  .header__content-descr-box {
    & + & {
      margin-top: 15px;
    }
  }
  .header_phone-link {
    display: none;
  }
}
@media (max-width: 1075px) {
  .how-it__inner {
    display: block;
  }
  .how-it__inner-item {
    margin: 0px auto 50px;
  }
  .buy__form-row {
    padding-top: 40px;
    flex-direction: column;
    justify-content: flex-start;

    input + input {
      margin-left: 0;
      margin-top: 40px;
    }
  }
  .buy__form {
    text-align: center;
  }
  .buy_btn-box {
    margin-top: 25px;
    max-width: 300px;
    width: 100%;
    text-align: left;
    .buy_btn-shadow {
      display: none;
    }
    .buy_btn {
      margin-left: 0;
    }
  }
  .buy__form-check {
    max-width: 300px;
    left: 0;
  }
  .buy__form-check label {
    width: 240px;
    padding-left: 5px;
  }
  .buy {
    padding: 70px 0 100px;
  }
}
@media (max-width: 990px) {
  .slider__inner {
    display: block !important;
    overflow-x: hidden;
  }
  .slider__card {
    padding-top: 0;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
  }
  .slider__card-text {
    margin-left: 0;
  }
  .slider__card-text p::before {
    display: none;
  }
  .slider__images {
    margin: 0 auto;
  }

  .how-it__inner-item {
    width: 100%;
  }
  .how-it__inner {
    padding-top: 45px;
  }
  .how-it__title {
    padding-top: 40px;
  }
  .footer__inner {
    .footer__links {
      padding-right: 15px;
      padding-left: 15px;
    }
    .footer__social-col {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
@media (max-width: 920px) {
  .header {
    padding-top: 20px;
  }
  .header__title {
    font-size: 26px;
    line-height: 22px;
    span {
      font-size: 18px;
    }
  }
  .header__menu-links li + li {
    margin-left: 30px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
}
@media (max-width: 839px) {
  .feedback__items {
    justify-content: center;
  }
}
@media (max-width: 829px) {
  .footer__phone-col {
    margin-top: 35px;
  }
}
@media (max-width: 780px) {
  .header {
    min-height: 450px;
  }
  .header__phone {
    display: none;
  }
  .header_btn-box {
    box-shadow: none;
    border: none;
    margin: 0;
  }
  .header_btn {
    font-size: 14px;
    padding: 14px 30px;
    left: 0;
  }
  .header__title span {
    margin-bottom: 15px;
  }
  .price__title {
    font-size: 24px;
    span {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .header__content-descr {
    padding-top: 10px;
  }
}
@media (max-width: 700px) {
  .feedback__title {
    margin-bottom: 0;
  }
  .slider__links {
    .slider__link {
      margin: 10px auto;
    }
    a {
      display: block;
      max-width: 50%;
    }
    a + a {
      margin-left: 0;
    }
  }
  .slider__images {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    img {
      width: 100%;
    }
  }
  .slider__card {
    margin-bottom: 20px;
  }
  .buy__form-title {
    font-size: 24px;
  }
  .map__card {
    left: 1.5%;
  }
  .map__card-content {
    padding: 25px 20px;
  }
  .map__card {
    max-width: 260px;
  }
}
@media (max-width: 650px) {
  .footer__inner {
    display: block;
    text-align: center;
    padding: 60px 0 50px 0;
  }
  .footer__logo {
    padding-bottom: 36px;
  }
  .footer__content {
    margin: 0 auto;
  }
  .footer__content span + span {
    padding-top: 18px;
  }
  .footer__links {
    padding: 46px 0;
  }
  .footer__phone-btn {
    max-width: 292px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .slider__title {
    max-width: 260px;
    font-size: 20px;
    line-height: 29px;
    padding-top: 55px;
    margin: 0px auto 50px;
  }
  .header {
    padding-top: 20px;
  }
  .header__top-inner {
    margin-bottom: 110px;
  }
  .header__title {
    max-width: 260px;
    font-size: 18px;
    line-height: 16px;
    span {
      margin-bottom: 30px;
      line-height: 24px;
      font-size: 16px;
    }
  }
  .header__burger {
    display: block;
  }
  .header__menu-links {
    border-top: 1px solid $text;
    display: block;
    position: absolute;
    top: 70px;
    left: -200%;
    width: 100%;
    text-align: center;
    background-color: $bg;
    z-index: 10;
    li + li {
      margin: 0;
    }
    li {
      margin: 0;
      border-bottom: 1px solid $text;
      padding-top: 8px;
    }
  }
  .header__menu-links.active {
    left: 0;
    transition: all 0.5s;
  }
  .header__content-descr {
    display: none;
  }
  .header__title span {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .header__content {
    max-width: 230px;
  }
  .header__title {
    line-height: 20px;
    span {
      line-height: 18px;
      font-size: 14px;
    }
  }
  .header_btn {
    font-size: 14px;
    padding: 14px 30px;
  }
  .buy__form {
    span {
      padding-top: 5px;
    }
  }
}

@media (max-width: 500px) {
  .how-it__title {
  }
  .how-it__inner {
    padding-top: 20px;
  }
  .feedback__link {
    font-size: 16px;
    line-height: 17px;
    padding: 13px 40px;
  }
  .slider__links a {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 13px 20px;
  }
  .header__content {
    max-width: 150px;
    position: absolute;
    top: 130px;
  }
  .header__title {
    font-size: 14px;
    line-height: 16px;
    span {
      font-size: 12px;
    }
  }
  .how-it__content-box {
    padding-left: 15px;
    padding-top: 5px;
  }
  .how-it__title {
    font-size: 24px;
  }
  .price__item {
    padding: 40px 10px 40px 10px;
  }
  .price__item-btn {
    padding: 10px 40px;
    font-size: 18px;
  }
  .price__title {
    font-size: 21px;
    span {
      font-size: 16px;
    }
  }
  .price__item-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .price__item-cost {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .buy__form-title {
    max-width: 222px;
    margin: 0px auto;
  }
  .buy_btn {
    width: 100%;
  }
  .map__card {
    display: none;
  }
}
@media (max-width: 350px) {
  .map {
    height: 500px;
    iframe {
      height: 500px;
    }
  }
  .header_btn {
    font-size: 12px;
    padding: 10px 27px;
  }
  .slider__links a {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 13px 20px;
  }
  .buy_btn {
    width: 100%;
  }
  .buy__form {
    span {
      font-size: 15px;
      width: 100%;
    }
  }
  .buy__form {
    max-width: 290px;
    width: 100%;
    input {
      max-width: 290px;
      width: 100%;
    }
  }
  .header__title span {
    margin-bottom: 25px;
  }
}
