@media (max-width: 1290px) {
  .price__inner {
    display: block;
  }
  .price__item {
    margin: 0px auto 120px;
  }
  .price__inner {
    padding-top: 0;
  }
  .price {
    padding-bottom: 50px;
  }
}
@media (max-width: 1150px) {
  .header__content-descr-box {
    display: none;
  }
  .header_phone-link {
    display: none;
  }
}
@media (max-width: 1075px) {
  .how-it__inner {
    display: block;
  }
  .how-it__inner-item {
    margin: 0px auto 50px;
  }
}
@media (max-width: 990px) {
  .slider__inner {
    display: block !important;
    overflow-x: hidden;
  }
  .slider__card {
    padding-top: 0;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
  }
  .slider__card-text {
    margin-left: 0;
  }
  .slider__card-text p::before {
    display: none;
  }
  .slider__images {
    margin: 0 auto;
  }

  .how-it__inner-item {
    width: 100%;
  }
  .how-it__inner {
    padding-top: 45px;
  }
  .how-it__title {
    padding-top: 40px;
  }
}
@media (max-width: 920px) {
  .header {
    padding-top: 20px;
  }
  .header__title {
    font-size: 26px;
    line-height: 22px;
    span {
      font-size: 18px;
    }
  }
  .header__menu-links li + li {
    margin-left: 30px;
  }
}
@media (max-width: 780px) {
  .header {
    min-height: 450px;
  }
  .header__phone {
    display: none;
  }
  .header_btn-box {
    box-shadow: none;
    border: none;
    margin: 0;
  }
  .header_btn {
    padding: 16px 60px;
    font-size: 18px;
    left: 0;
  }
  .price__title {
    font-size: 24px;
    span {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
@media (max-width: 700px) {
  .slider__links {
    .slider__link {
      margin: 10px auto;
    }
    a {
      display: block;
      max-width: 50%;
    }
    a + a {
      margin-left: 0;
    }
  }
  .slider__images {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    img {
      width: 100%;
    }
  }
  .slider__card {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .slider__title {
    max-width: 260px;
    font-size: 20px;
    line-height: 29px;
    padding-top: 55px;
    margin: 0px auto 50px;
  }
  .header {
    padding-top: 20px;
  }
  .header__top-inner {
    margin-bottom: 110px;
  }
  .header__title {
    max-width: 260px;
    font-size: 18px;
    line-height: 16px;
    span {
      margin-bottom: 30px;
      line-height: 24px;
      font-size: 16px;
    }
  }
  .header__burger {
    display: block;
  }
  .header__menu-links {
    border-top: 1px solid $text;
    display: block;
    position: absolute;
    top: 70px;
    left: -200%;
    width: 100%;
    text-align: center;
    background-color: $bg;
    z-index: 10;
    li + li {
      margin: 0;
    }
    li {
      margin: 0;
      border-bottom: 1px solid $text;
      padding-top: 8px;
    }
  }
  .header__menu-links.active {
    left: 0;
    transition: all 0.5s;
  }
}
@media (max-width: 550px) {
  .header__content {
    max-width: 230px;
  }
  .header__title {
    line-height: 20px;
    span {
      line-height: 18px;
      font-size: 14px;
    }
  }
  .header_btn {
    font-size: 14px;
    padding: 14px 30px;
  }
}

@media (max-width: 500px) {
  .slider__links a {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 13px 20px;
  }
  .header__content {
    max-width: 150px;
    position: absolute;
    top: 130px;
  }
  .header__title {
    font-size: 14px;
    line-height: 16px;
    span {
      font-size: 12px;
    }
  }
  .how-it__content-box {
    padding-left: 15px;
    padding-top: 5px;
  }
  .how-it__title {
    font-size: 24px;
  }
  .price__item {
    padding: 40px 10px 40px 10px;
  }
  .price__item-btn {
    padding: 10px 40px;
    font-size: 18px;
  }
  .price__title {
    font-size: 21px;
    span {
      font-size: 16px;
    }
  }
  .price__item-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .price__item-cost {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 350px) {
  .header_btn {
    font-size: 12px;
    padding: 10px 27px;
  }
  .slider__links a {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 13px 20px;
  }
}
